@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,600;1,600&display=swap');

$Arimo: 'Arimo', sans-serif;

$color-sun: #EDC951;
$color-cloud: #00A0B0;
$color-cloud-light: #00cee3;
$color-cloud-dark: #008997;
$color-rain-cloud: #666;
$color-rain-cloud-light: #999;
$color-rain-cloud-dark: #555;
$color-snow-cloud: #CCC;
$color-main-background: #222;
$color-rainbow-red: #BD1E52;
$color-rainbow-red: #BD1E52;
$color-rainbow-orange: #E88024;
$color-rainbow-yellow: #F8CB10;
$color-rainbow-green: #899C3B;