.display {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__input {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-top: 57px;
		height: 60px;
		width: 500px;
		border-radius: 9999px;
		padding: 13px ;
		border-radius: 9999px;
		box-shadow: 0px 2px 10px 2px #00000040;
		border-radius: 9999;
		> form {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			width: 100%;
			> input {
				width: 90%;
				border-style: none;
				height: 34px;
				border-style: none;
				font-family: $Arimo;
				font-size: 22px;
				height: 34px;
				border: none;
				outline: none;
			}
		} 
		::placeholder {
			color: rgba(84, 84, 84, 0.5);
		  }
		&__icon {
			color: #77B6EA;
			transform: scale(1.5);
		}
	}

	&__data {
		margin-top: 120px;
		display: flex;
		justify-content: center;
		align-items: center;
		 
		&__default {
			color: #545454;
			display: flex;
			align-items: center;
			font-family: $Arimo;
			flex-direction: column;
			justify-content: center;
			padding: 10px;
			
			> h1 {
				font-size: 32px;
				line-height: 40px;
			}
			> p {
				padding: 12px;
				font-size: 20px;
				line-height: 29px;
				margin-bottom: 770px;
				padding-bottom: 90px;

			}
			
			> h2 {
				font-size: 32px;
				line-height: 40px;
				color: #CD7B7B;
			}
		}
	}
}
